# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#
*.qm
*.bak
qrc_*.cpp
moc_*.cpp
*.moc
*.qm

futurepointsd
futurepoints-qt

